{% extends "User/Base.html" %}

<style>
.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}
</style>

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Item Name</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
        <form action="/club/Delete-Inventory/" method="POST">
          {% for item in items %}
            <tr>
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="checks[]" id="{{ item.id }}" value="{{ item.id }}" checked>
                  {% comment %} <input type="hidden" id="{{ item.id }}"> {% endcomment %}
                  <label class="custom-control-label" for="{{ item.id }}">{{ item.name }}</label>
              </div>
            </td>
            <td id="{{ item.id }}" contenteditable='true'>{{ item.quantity }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
          {% csrf_token %}
          <button type="submit" class="btn btn-success" onclick="/club/Delete-Inventory/" name="Edit" value="Edit">Edit</button>
          <button type="submit" class="btn btn-danger" onclick="/club/Delete-Inventory/" name="Delete" value="Delete">Delete</button>
        </form>
    </div>
  </div>
</div>

{% endblock content %}