{% extends 'User/Base.html' %}
{% block content %}
<p>Items Available: </p>
{% for items in inv %}
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ items.name }}</h5>
    <p class="card-text">Remaining items: {{ items.quantity }}</p>
    <form action="/travel/Request-Ride/" method="POST">
      {% csrf_token %}
      <a href="#" class="btn btn-primary" onclick="" >Go somewhere</a>
    </form>
  </div>
</div>
{% endfor %}
{% endblock content %}