{% extends "User/Base.html" %}

{% block content %}

{% if member %}
<h5>You are viewing {{ member.name }} requests: </h5>
{% else %}
<h5>Your Requests</h5>
{% endif %}

{% for p in pending %}
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ p.itemID.name }}</h5>
      <small>{{ p.createdOn }}</small>
    </div>
    <p class="mb-1">Items requested: {{ p.requested }}</p>
    <small>Pending</small>
  </a>
</div> 
{% endfor %}

{% for p in accepted %}
<div class="list-group">
  <a href="#" class="list-group-item border-success list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ p.itemID.name }}</h5>
      <small>{{ p.createdOn }}</small>
    </div>
    <p class="mb-1">Items requested: {{ p.requested }}</p>
    <small class="text-success">Accepted</small>
  </a>
</div> 

{% endfor %}

{% for p in rejected %}
<div class="list-group">
  <a href="#" class="list-group-item border-danger list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ p.itemID.name }}</h5>
      <small>{{ p.createdOn }}</small>
    </div>
    <p class="mb-1">Items requested: {{ p.requested }}</p>
    <small class="text-danger">Rejected</small>
  </a>
</div> 
{% endfor %}


{% endblock content %}
